*{
    box-sizing: border-box;
}
body{
    background-color:skyblue;
    display: block;    
    font-size: 16px;
    width: 100%;
    height:auto;
    margin: 0px;
    padding: 0px;
    font-family:cursive,"sans-serif","Arial","Helvetica";
}
header{
    /*background-color: crimson;*/
    font-size: 30px;
    text-align: center;
    color: darkblue;
    height: 70px;
    padding-top: 20px;
    margin-bottom: 50px;            
}
.content{
    box-shadow: 2px 2px gainsboro;
    border-radius: 8px;
    color: green;
    background-color:orange;
    float: left;
    font-family:cursive,"sans-serif","Arial","Helvetica";
    text-align: center;
    height: 200px;
    width: 30%;
    margin: 20px;
}
.main{
    margin:100px 50px 0px 50px;
}
h2{
    float: right;
    width: 150px;
    border-radius: 0px 8px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: gainsboro;
}
p{
    clear: both;
    font-size: 18px;
    margin: 25px 0px 0px 0px;
}
#define{
    background-color: greenyellow;
    color: blue;
}
#define p{
    vertical-align: middle;
}
#_define{
    background-color: lightgreen;
    color: tomato;
}
