*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-color: lightsteelblue;
}
#header-nav{
    background-color: lightyellow;
    border-radius: 0;
    border: 0;
}
.container{
  margin: 0;
  width: 100%;
}
.navbar-brand{
  font-family: Lora,"serif";
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
@media (min-width: 600px) {
  .visible-xs{
    visibility: hidden;
  }
}
.navbar-toggler{
  float: right;
  border: 2px solid lightblue;
}
.navbar-toggler-icon{
  background-color: lightsalmon;
}
#nav-item{
  background-color: lightgrey;
}
.container_fluid{
  margin-top: 20px;
}
/*For Mobile Device */
/*@media (max-width: 767px) {
         
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 97%;}
}*/
/* For Talet Device */
/*@media (min-width:768px) and (max-width: 991px){
  .container{
    width: 100%;
  }
         
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 47%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 96%;}
}*/
/*For Large Device */
/*@media (min-width: 992px) {
  .container{
    width: 100%;
  }
    
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 30.6%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 97%;}
}*/