*{
    box-sizing: border-box;
}

body{
    text: "sans-serif" ;
    background-color: lightgoldenrodyellow;
    display: block;    
    font-size: 16px;
    width: 100%;
    height:auto;
    margin: 0px;
    padding: 0px;
    font-family:cursive,"sans-serif","Arial","Helvetica";
}
header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: darkblue;
    height: 70px;
    width: 100%;
    padding: 15px 0px 0px 0px;
    margin: 10px 0px 30px 0px;            
}
.main{
    width:100%;
}
.content{
    position: relative;
    border: 1px solid black;
    color: green;
    float: left;
    font-family:Helvetica,"sans-serif","Arial","cursive";
    text-align: center;
    height: 200px;
    padding: 0px;
    margin: 0% 0% 2% 2%;
}    
h2{
    float: right;
    width: 140px;
    border: 1px solid black;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: lightgrey;
}
p{
    clear: both;
    font-size: 18px;
    margin: 25px 0px 0px 0px;
    padding: 0 10px;
}
#tab-first{
    background-color: whitesmoke;
    background: rgba(255, 255, 255, .6);
    color: blue;
}
#tab-second{
    background-color: lightgreen;
    background: rgba(255, 255, 255, .6);
    color:red;
}
#tab-third{
    background-color: gold;
    background: rgba(255, 255, 255, .8);
}
/*For Mobile Device */
@media (max-width: 767px) {
         
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 97%;}
}
/* For Talet Device */
@media (min-width:768px) and (max-width: 991px){
         
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 47%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 96%;}
}
/*For Large Device */
@media (min-width: 992px) {
    
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 30.6%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 97%;}
}
